.MTN{
    background-color: #f7c217;
}
.GLO{
    background-color: #1dd924;
}
.AIRTEL{
    background-color: #8e0707;
}
.NINEMOBILE{
    background-image: linear-gradient(green, black);
}
/*linear-gradient(60deg, #f7c217, #f7c217)*/